/* #score-board h3 {
  font-family:'Bungee Shade';
  font-size: 30px;
  color: #DB7F8E;
  margin-top: 1px;
  margin-bottom: 8px;
} */

div#highscores {

  position: absolute;
  left: 800px;
  top: 20px;
  color: #cc005f;
    background-color: #00d9ff;
    background-size: 300;
    font-family: Georgia, serif;
    font-size: 16px;
    width: 200px;
    height: 500px;

}

div[id="0"] {
  background-color: yellow;
  position: absolute;
  left: 800px;
  top: 400px;
}

 div[id="1"] {
  background-color: yellow;
  position: absolute;
  left: 800px;
  top: 500px;
}
 
/* /* div[id="2"] {
  background-color: yellow;
  position: absolute;
  left: 250px;
  top: 20px;
} */
 
div[id="3"] {
  background-color: yellow;
  position: absolute;
  left: 125px;
  top: 20px;
}
 
div {
  color: #1a0b72;
  background-color: #FF9900;
  font-family: Georgia, serif;
  font-size: 15px;
  border: 2px solid #1C6EA4;
  width: 50px;
  height: 50px;

}  */
div#score {
  border: 8px solid #05141E;
}

form {
  position: absolute;
  left: 250px;
  top: 250px;
  color: #cc005f;
    background-color: #00d9ff;
    font-family: Georgia, serif;
    font-size: 16px;
    width: 200;
    height: 200;
} 

tag {
  position: absolute;
  left: 400px;
  top: 500px;
}

body {
    background: rgb(0, 0, 0)
   
  }
  canvas {
    background: #76c98f;
    position: relative;
  }

  button#button1 {
    position: absolute;
  left: 725px;
  top: 30px;

  }

  button#button2 {
    position: absolute;
  left: 725px;
  top: 0px;

  }

  