body {
    background: rgb(12, 40, 63);
    color: #50a85b;
  }
  canvas {
    background: #76c98f;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: block;
  }

  nav { 
      color: teal;

  }